html {
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 20px;
  background-color: #BCDCCF;
}

h1 {
  text-align: center;
  color: #24539B;
}

#game h3 {
  font-family: ubuntu;
  color: #24539B;
}

p, ul > li {
  font-family: ubuntu;
  font-size: 1.2em;
}

#game {
  text-align: center;
}

ul {
  max-width: 500px;
}

.img-square {
  margin: auto;
  width: 140px;
  height: 140px;
  overflow: hidden;
}

#theodoerImg {
  position: relative;
  max-width: 100%;
  width: 100%;
}

#card, #quality {
  display: inline-block;
  vertical-align: top;
}

#card {
  width: 49%;
}

#quality {
  text-align: left;
  width: 49%;
}

#quality h3 {
  margin: 0 0 10px 0;
}

#quality button {
  color: #24539B;
  font-size: 1em;
  margin-bottom: 10px;
  border-radius: 5px;
}

#quality div {
  font-size: 1.2em;
  color: #24539B;
  font-family: ubuntu;
  margin-bottom: 0.3em;
}

#quality div:before {
  content: '> ';
  visibility: hidden;
}

#quality div.selected:before {
  visibility: visible;
}

#theodoerName, #theodoerNamePlaceholder {
  font-size: 3em;
  margin: 0;
}

#theodoerNamePlaceholder {
  color: white;
}

#quality .selected {
  color: black;
}

#game a {
  color: blue;
}

#game ul {
  max-width: 700px;
  text-align: left;
  margin: auto;
}

#game ul > li {
  margin-bottom: 0.5em;
}

#nbCards, #totalNbCards {
  font-weight: bold;
}
