html {
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 20px;
  background-color: #e6ddde;
}

#game h3, #game h4 {
  font-family: ubuntu;
  color: #62484c;
}

p, ul > li {
  font-family: ubuntu;
  color: #443235;
  font-size: 1.2em;
}

#game {
  text-align: center;
}

ul {
  max-width: 500px;
}

.img-square {
  margin: auto;
  width: 140px;
  height: 140px;
  overflow: hidden;
}

#theodoerImg {
  position: relative;
  max-width: 100%;
  top: -100%;
}

#card, #quality {
  display: inline-block;
  vertical-align: top;
}

#card {
  width: 39%;
}

#quality {
  text-align: left;
  width: 60%;
}

#quality div {
  font-size: 1.2em;
  color: gray;
  font-family: ubuntu;
  margin-bottom: 0.3em;
}

#theodoerName {
  font-size: 3em;
}

#quality .selected {
  color: #443235;
}

#game a {
  color: blue;
}

#game ul {
  max-width: 700px;
  text-align: left;
  margin: auto;
}

#game ul > li {
  margin-bottom: 0.5em;
}

#nbCards, #totalNbCards {
  font-weight: bold;
}
